<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{pagina}}</title>
</head>
<body>

        <header class="header__taller2">

            <div class="header__left">
                <a class="header__logo" href="/"> <img class="logo2" src="/images/images1/logo.png" alt=""></a>


                <a class="header__nombreLogomain" href="/">

                    SANDWICHES DE LA BOCHA

                </a>
            </div>
            <nav class="header__global">
                <a class="navs" href="#inicio">Inicio</a>
                <a class="navs" href="#promociones">Promociones</a>
                <a class="navs" href="#ingredientes">Ingredientes</a>
                <a class="navs" href="">Menu</a>
                <a class="car" id="idcar" href="/cart">
                    <img  src="/images/images1/burguer2.png" alt="">
                 </a>
            <div class="cart__count">{{cartLength}}</div>
                  
            </nav>
            
            <button class="header__btn">
                <img src="./images/images1/hamburguesa.png" alt="">
            </button>

        </header>
    {{{body}}}
    <footer class="footer">
       
            <a class="footer__a" href="">Inicio</a>
            <a class="footer__a" href="">Productos</a>
            <a class="footer__a" href="">Ingredientes</a>
            <a class="footer__a" href="">Eventos</a>
      
        <div class="footer__contact">
            <p class="footer__p">bochanwiches@gmail.com</p>
            <p class="footer__p">3153612230</p>
        </div>
        <div class="footer__copyright">Copyright © 2019 Bocha | Todos los derechos reservados.</div>

    </footer>
</body>
</html>


