
<h1 class="topCheckout">Checkout</h1>

<form class="information" action="">
    <input class="check__input" type="text" placeholder="Nombre">
    <input class="check__input" type="text" placeholder="Apellidos">
    <input class="check__input" type="ID" placeholder="Número de Cédula">
    <input class="check__input" type="email" placeholder="Email">
    <input class="check__input" type="dir" placeholder="Dirección">
    <div class="btn__checkout">
        <input class="btn__submit" type="submit" value="Enviar">
        
    </div>


</form>