
<form class="information" action="">
    
    <div class="information__checkout">
        <h1 class="topCheckout">Checkout</h1>
        <img class="back__checkout" src="/images/images1/efectivofondo.png" alt="">
    <input class="check__input" type="text" placeholder="Nombre">
    <input class="check__input" type="text" placeholder="Apellidos">
    <input class="check__input" type="ID" placeholder="Número de Cédula">
    <input class="check__input" type="email" placeholder="Email">
    <input class="check__input" type="dir" placeholder="Dirección">
    <div class="btn__checkout">
        <button class="btn__submit" type="submit">Enviar</button>
        
    </div>
    </div>


</form>

<script src="/scripts/checkout.js"></script>