.viewProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    padding: 2em 0 2em 0;
}

.background__products{
    top: 80vh;
    left: -15px;
    position: absolute;
    width: 27%;
    transition: all .2s ease;

    &:hover{
        transform: translate(15px, 0);
        transition: all .2s ease;
    }
}

.brands__images{
    transition: all .2s ease;
    border-radius: 2em;


&:hover{
    background-color: #f5db2f;
    transition: all .2s ease;

}
   
}

.megaView{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.brands{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;

}

.brand__text{
    font-family: Nunito sans;
    font-size: 1em;
    color: black;
    padding: 2em;

}

.carcar--products{

    font-family: Nunito sans black;
    font-size: .8em;
    transition: all .2s ease;

    &:hover{
        color:black;
        transform: scale(1.1);
        transition: all .2s ease;
    }
}

.generalViews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.detail{
    width: 80%;
    padding: 2em;
    background-color: #f5db2f;
    border-radius: 2em;

}

.properties__title{
    font-family: Nunito sans;
    font-size: 2em;
    font-weight: 900;
    color: black;
}

.detailContent__ingredients{
    font-family: Nunito sans;
    font-size: 1em;
    font-weight: regular;
    color: #818181;
    line-height: 5px;

}

.properties__price{
    font-family: Nunito Sans Black;
    font-size: 2.5em;
    color: #678E12;
    margin-top: .2em;

}

.methodsOfPay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    line-height: 10px;
}

.pay{
   
    font-family: Nunito sans;
 
    
}


.pay__image{
    width: 20%;
}

.detailTitle{
    font-family: Nunito sans;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 1em 2em;

}

.detailContent{
    font-family: Nunito sans regular;
    font-size: 1em;
    
    width: 23em;
    

}

.properties{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    padding: 1em 0 1em 2em;

}

.lineDetail{
    width: 2px;
    height: 55vh;
    background-color: #f5db2f;
}

.makeAnOrder{
    margin-top: 10px;
    padding: 1em 6em;
    background-color: #678E12;
    font-family: Nunito sans black;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    color: white;
    

}
