.viewProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: flex-start;
}

.detail{
    width: 80%;
    padding: 2em;
    background-color: #f5db2f;
    border-radius: 2em;

}

.properties__title{
    font-family: Nunito sans;
    font-size: 2em;
    font-weight: 900;
    color: black;
}

.properties__subtitle{
    font-family: Nunito sans;
    font-size: 1em;
    font-weight: regular;
    color: #818181;

}

.properties__price{
    font-family: Nunito Sans Black;
    font-size: 2.5em;
    color: #678E12;
    margin-top: .2em;

}
