@font-face{
    font-family: "Nunito Sans";
    src: url("/fonts/NunitoSans-Regular.ttf");
    src: url("/fonts/NunitoSans-bold.ttf");
    src: url("/fonts/NunitoSans-Light.ttf");
}

.left__types{
    border: 2px solid #f5db2f;
    border-radius: 3em;
    padding: 2em;
    height: 50%;
    
}

.form__filters{
    padding: 1em 0 1em 1.2em;
}

.carcar{
    border: none;
    color: black;
    font-family: Nunito sans;
    font-size: 1.2em;

    &:hover{
        color: white;
        cursor: pointer;
    }
}

.back{
    top: 80vh;
    position: absolute;
    width: 20%;
}

.sectionProducts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
    align-content: stretch;
    align-items: flex-start;
    padding: 2em;
  
}

.filter__title{
    font-family: Nunito sans;
    font-size: 1em;
    font-weight: bold;
    color: BLACK;
}

.line{
    width: 1px;
    height: 100vh;
    background-color: #f5db2f;
}

.type__title{
    font-family: Nunito sans;
    font-size: 1em;
    font-weight: 900;
    padding: .5em;
}

.filters{
    font-family: Nunito sans Light;
    font-size: 1em;
    font-weight: lighter;
    color: grey;
    text-decoration: none;
    padding: 10px 0 10px 50px;
   
}



.left__title{
    font-family: Nunito sans;
    font-size: 2em;
    font-weight: 900;
}

.types__breads{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.types__prices{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.types__meats{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.tx20{
    width: 65%;
    border: .5px solid black;
    border-radius: 25px;
    padding: 1em;
}

.generalProducts{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    cursor: pointer;
}

.order{
    padding: 10px 3em 1em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-end;
}

.orderandproducts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-end;

    width: 65%;
 

}

a{
    text-decoration: none;
}

.gproducts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all .5s ease;
    border-radius: 20px;


    &:hover{
        transform: scale(1.05);
        transition: all .2s ease;
        background-color: #f5db2f;
        
    }
    
}

.order__name{
    font-family: Nunito sans;
    font-weight: bold;
    font-size: .8em;
    margin-bottom: 5px;
    background-color: #f5db2f ;
    border-radius: 2em;
    border: none;
}

.order__select{
    border-radius: 25px;
    font-family: Nunito sans;
    font-weight: bold;
    font-size: .8em;

    
}

.priceandproduct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.features__products{
font-family: Nunito sans;
font-size: .7em;
color: #4e4e4e;
font-weight: bold;
margin-top: -1em;
line-height: .9em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.right__carcar{
    padding: 1em;
    transition: all 0.5s ease;
    font-family: Nunito sans;
    font-size: 1em;

    &:hover{
    transform: scale(1.2);
    transition: all 0.2s ease;
    }
    
}



.breadandcar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

}

.products__list{
    padding: 0 0 10px 25px   ;
    width: 60%;
}

.cart__count{
    font-family: Nunito sans;
    font-size: .7em;
    color: black;
    font-weight: 900;
}

.prices{
    font-family: Nunito Sans;
    font-size: .9em;
    color: white;
    background-color: black;
    padding: 0 15px;
    border-radius: 20px;
    font-weight: 900;
}

.products__name{
    font-family: Nunito sans;
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding: 1em 0 1em 0;
}


